*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}
.container{
/* height: 100%; */
width: 100%;
background-color: rgb(5, 44, 69);
max-width: 35rem;
display: flex;
text-align: center;
margin: 50px auto;
flex-direction: column;
padding: 50px 20px;
gap: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
border-radius: 10px;

}
.heading{
    color: black;
}
#searchInputt{
    padding:5px 10px ;
    margin: 50px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
.userContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.userContainer .userItem img{

height: 100%;
width: 100%;
object-fit: cover;
object-position: top;
}
.userContainer .userItem .image{
   
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    aspect-ratio: 1/1;
}
.userContainer .userItem{
    display: flex;
    gap: 20px;
    background-color: #fafafa;
    width: 100%;
    align-items: center;
    padding: 15px 15px;
    height: 4rem;
    
}
.userContainer .userItem .userDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.userContainer .userItem .userDetails h3{
   font-size: 20px;
}
.userContainer .userItem .userDetails p{
   font-size: 12px;
}